@model IEnumerable<HomeBudget.Application.Transactions.TransactionDto>

@{
    ViewData["Title"] = "Transakcje";
}

<h1>Wszystkie transakcje</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Dodaj nową transakcję</a>
</p>

<div class="row">
    @foreach (var item in Model) {
        <div class="card m-3 col-2" style="width: 22rem">
            <div class="card-body">
                <h5 class="card-title">@item.transactionName</h5>
                <p class="card-text">@item.transactionAmount zł</p>
                <a class="btn btn-primary" asp-controller="Transaction" asp-action="Details" asp-route-encodedName="@item.EncodedName">Szczegóły</a>
                
                @if (item.IsEditable)
                {
                <a class="btn btn-primary" asp-controller="Transaction" asp-action="Edit" asp-route-encodedName="@item.EncodedName">Edytuj</a>
                    <a class="btn btn-outline-danger mt-3" asp-controller="Transaction" asp-action="Delete" asp-route-encodedName="@item.EncodedName">Usuń</a>
                }
            </div>
        </div>
    }
</div>